<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<title>mappED</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.sticky.js"></script>
	<script type="text/javascript">
		$(window).load(function(){
			$("#map").sticky({ topSpacing: 0 });
		});
	</script>
	<script type="text/javascript">
		var thisApp = angular.module('app', []);
		thisApp.controller('BuildingCtrl', function ($scope, $http){
			$http.get('data2.json').success(function(data2) {
				$scope.Buildings = data2;
				var array = [];
				for (var i =0; i< data2.length; i++) {
					data2[i].id = i;

					if (data2[i].categories[0] == "Cafeterias") {
						marker = L.marker([data2[i].latitude, data2[i].longitude],{icon: cafeIcon, zIndexOffset:100}).addTo(map);
				  } else if (data2[i].categories[0] == "Libraries") {
						marker = L.marker([data2[i].latitude, data2[i].longitude],{icon: bookIcon, opacity: 0.75}).addTo(map);
				  } else {
				  	marker = L.marker([data2[i].latitude, data2[i].longitude],{icon: uniIcon, opacity: 0.75}).addTo(map);
					};
					marker.bindPopup("I am "+data2[i].name); 
					var campus = data2[i].campuses[0];
					if (campus == "central") {
						marker.addTo(central); 
					} else if (campus == "King's Buildings") {
						marker.addTo(kings); 
					} else if (campus == "Little France") {
						marker.addTo(lfrance); 
					} else if (campus == "Western General") {
						marker.addTo(wgeneral); 
					} else
					array.push(marker);
				};

				$scope.goTo = function(x,y, id) { array[id].openPopup(); map.setView([x,y], 18);
				// $('html,body').animate({
    //             scrollTop: $('.').offset().top 
    //         }, 500); 
				};
			});
		});
	</script>
	<script src="scripts/toTop.js" charset="utf-8"></script>

</head>
<body>
	<script type="text/javascript">
		$('body').toTop({
			css: { //  CSS styles for the scroll to top button
			position: "fixed",
			right: '2rem',
			bottom: '1rem',
			fontSize: '4rem',
			cursor: 'pointer',
			color: '#1e1e1e'
		},
			symbol: '&#8963;', // text for the scroll to top button
			scrollUpSpeed: 2000,	// animation speed for the scrolling effect
			triggerHeight: 250	// distance from top of the webpage to trigger the plugin
		});
	</script>
	<div ng-app="app" ng-init="searchT=''">  
		<!-- TOP Container START-->   
		<div class="container-fluid" style="background-color:#F44336;color:#fff;height:20%;padding:3%">
		<div class="container" style="width:90%";>
				<div class="col-sm-3" style="right:-8%">
				<div style="width:90%;"><img class="img-responsive" src="logo.png" alt="logo"></div>
				</div>
				<div class="col-sm-6">
					<div style="width:10%;"><img class="img-responsive" src="logo1.png" alt="logo1" style="padding-bottom:10px;"></div>
					<div id="custom-search-input">
						<div class="input-group col-sm-12">
							<span class="input-group-btn" id="collapsebutton">
								<button class="btn btn-info btn-lg" data-toggle="collapse" data-target="#collapseDivOptions" ng-click="collapseState[$index]= !collapseState[$index]">
									<span class="glyphicon" id="servicedrop"  ng-class="collapseState[$index] ? 'glyphicon glyphicon-menu-down' : 'glyphicon glyphicon-menu-right'"></span>
								</button>
							</span>
							<input type="text" class="form-control input-lg" placeholder="Search" ng-model="searchT" />
							<span class="input-group-btn">
								<button class="btn btn-info btn-lg" type="button">
									<i id="searchbutton" class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
						<div class="collapse" id="collapseDivOptions" ng-model="collapseState">
							<div class="checkbox">
								<label><input type="checkbox" value="" ng-model="checkboxComputers" ng-true-value="'YES'" ng-false-value="">Computers</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" ng-model="checkboxSilentStudy" ng-true-value="'YES'" ng-false-value="">Silent Study</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" ng-model="checkboxQuietStudy" ng-true-value="'YES'" ng-false-value="">Quiet Study</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- TOP Container START--> 

 		<!-- TODO IMPORTANT!!! CREDIT https://commons.wikimedia.org/wiki/File:Map_marker_icon_%E2%80%93_Nicolas_Mollet_%E2%80%93_Coffee_%E2%80%93_Restaurants_%26_Hotels_%E2%80%93_White.png AUTHOR OF CAFE ICON" -->
		<!-- Map START--> 
		<div id="map" class="img-responsive" data-spy="affix" data-offset-top="250"> </div>
		<script> 
			var cafeIcon = L.icon({
			    iconUrl: 'images/cafe.png',
			    shadowUrl: 'images/cafe.png',

			    iconSize:     [32, 37], // size of the icon
			    shadowSize:   [0, 0], // size of the shadow
			    iconAnchor:   [16,35], // point of the icon which will correspond to marker's location
			    shadowAnchor: [0, 0],  // the same for the shadow
			    popupAnchor:  [0, -38] // point from which the popup should open relative to the iconAnchor
			});
			var uniIcon = L.icon({
			    iconUrl: 'images/university.png',
			    shadowUrl: 'images/cafe.png',

			    iconSize:     [32, 37], // size of the icon
			    shadowSize:   [0, 0], // size of the shadow
			    iconAnchor:   [16,35], // point of the icon which will correspond to marker's location
			    shadowAnchor: [0, 0],  // the same for the shadow
			    popupAnchor:  [0, -38] // point from which the popup should open relative to the iconAnchor
			});
			var bookIcon = L.icon({
			    iconUrl: 'images/book.png',
			    shadowUrl: 'images/cafe.png',

			    iconSize:     [32, 37], // size of the icon
			    shadowSize:   [0, 0], // size of the shadow
			    iconAnchor:   [16,35], // point of the icon which will correspond to marker's location
			    shadowAnchor: [0, 0],  // the same for the shadow
			    popupAnchor:  [0, -38] // point from which the popup should open relative to the iconAnchor
			});
			var central = new L.LayerGroup();
			var kings = new L.LayerGroup();
			var lfrance = new L.LayerGroup();
			var wgeneral = new L.LayerGroup();

			var base = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { // create the tile layer with correct attribution
				//attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'

			});
			var overlays = {
				"Central Area": central,
				"King's Buildings": kings,
				"Little France": lfrance,
				"Western General": wgeneral
			};
			var map = L.map('map', {layers: [base, central, kings, lfrance, wgeneral]}).setView([55.9435284480973960,-3.1886315345764160], 15); //initialize map
			map.scrollWheelZoom.disable();
			L.control.layers(null,overlays).addTo(map);
		</script>
		<!-- Map END--> 


		<div class="container"> <!-- Placeholder--> 
			<div class="col-xs-12" style="height:10px;"></div>
		</div>									<!-- /Placeholder--> 


		<div ng-controller="BuildingCtrl">
		<div class="container" style="width:80%">
			<div class="panel-group" id="accordion" >
				<div class="panel panel-default" ng-repeat="Building in Buildings | filter:{silentstudy:checkboxSilentStudy, quietstudy:checkboxQuietStudy, computers:checkboxComputers, name:searchT}">
					<div class="panel-heading" id="panel-{{Building.id}} ">
						<h2 class="panel-title">
              <b>
							 <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{Building.id}}" ng-click="goTo(Building.latitude, Building.longitude, Building.id)">{{Building.name}} 
               </a>
						  </b>
            </h2>
					</div>
					<div id="collapse{{Building.id}}" class="panel-collapse collapse ">
						<div class="panel-body">
							<div class="col-xs-4">
							 <img src= "images/buildings/{{Building.image}}" height="100"  class = "img-thumbnail"> 
							</div>
							<div class="col-xs-4">
								<br>{{Building.facilities[0]}}<br>
								<br>{{Building.facilities[1]}}<br>
								<br>{{Building.facilities[2]}}<br>
							</div>
              <div class="col-xs-4">
							   <b>Address:</b>
                 <br>{{Building.address}}<br>
							   <center>
							     <button type="button" class="btn btn-info center-block btn-space"  data-toggle="modal" data-target="#IF{{Building.id}}">Info
                   </button>
							     <button type="button" class="btn btn-info center-block btn-space"  data-toggle="modal" data-target="#FL{{Building.id}}">Floor Plan
                   </button>
							     <button type="button" class="btn btn-danger center-block btn-space"  data-toggle="modal" data-target="#F{{Building.id}}">Health & Safety
                   </button>
							   </center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
      <!--Modal intial Floor plan-->
    <div class="modal fade" id="FL{{Building.id}}" role="dialog"  ng-repeat="Building in Buildings">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content Floorplan-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Floor Plan </h4>
          </div>
          <div class="modal-body">
            <div id="myCarousel{{Building.id}}" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="images/{{Building.name}}/floor 0.png" alt="Flower" width="460" height="345">
                </div>
                <div class="item" ng-repeat="ThisFloor in Building.floor">
                  <img src = "images/{{Building.name}}/{{ThisFloor}}" >
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel{{Building.id}}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel{{Building.id}}" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>      
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
  </div>
        <!--Modal intial info-->
    <div class="modal fade" id="IF{{Building.id}}" role="dialog"  ng-repeat="Building in Buildings">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content info-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

            <h4 class="modal-title">Info </h4>
          </div>
          <div class="modal-body">
          {{Building.description[0]}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
  </div>
        <!--Modal intial Fire-->
      <div class="modal fade" id="F{{Building.id}}" role="dialog"  ng-repeat="Building in Buildings">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content fire-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Health & saftey</h4>
          </div>
          <div class="modal-body">
          <p>the building is on fire</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
</body>
</html>